@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-blue: #393F6E;
  --light-blue: #E2E4F3;
  --navy-blue: #343964;
  --cyan-blue: #3E9FFF;
  --red: #DD524C;
  --gray: #8B8EAB;
  --light-yellow: #FFECC8;
}


@layer base {
  body {
    background-image: url(/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
  }
}